$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #909090;
$gray-700: #495057;
$gray-800: #464646;
$gray-900: #212529;
$gray-1000: #242526;
$black: #000;

$bg-body: #081524;
$bg: #0a1929;
$bg-div: #082038;
$btn: #0b2d4b;

$border-div: #132f4c;
$link: #274a6d;
$text-dim: #88929c;
$btn-bg: #3399ff;

$heart-color: #B40431;

$dark: #0f0f0f;
$dark-div: #272727;
$dark-border: #3e4346;
$dark-color: #adb5bd;

$light: #fff;
$background-color: $dark;
// 

$bg-light: #f0f2f5;
$light-text: #f0f2f5;


$light-text2: #bcc0c4;
$light-text3: #84878a;

$border-input: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;